<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>814454778107-8ru7nt2oksi7b6hsristcb9sumhqirbk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.814454778107-8ru7nt2oksi7b6hsristcb9sumhqirbk</string>
	<key>API_KEY</key>
	<string>AIzaSyBj3eIdZsrmoTM2rhq0sk3r4kK0SR1uTqM</string>
	<key>GCM_SENDER_ID</key>
	<string>814454778107</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sandaqa.tech.twaquat</string>
	<key>PROJECT_ID</key>
	<string>twaquat</string>
	<key>STORAGE_BUCKET</key>
	<string>twaquat.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:814454778107:ios:c9fd184e4d6c5ae0d7e85e</string>
</dict>
</plist>